@using System.Data

@{
    ViewData["Title"] = "Демонстрация Vue.js";
}
<h4>@ViewData["Title"]</h4>

<style>
    .circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid black;
        display: inline-block;
        margin: 10px;
    }
</style>
<hr>
<div id="app1">
    <p><b>Инстанс 1: Динамический вывод данных</b></p>
    Введите текст: <input type="text" v-model="inputValue" /><br />
    <p style="margin: 20px 0px 20px 0px">Динамический вывод: <b>{{inputValue}}</b></p>
    <p style="color: maroon; margin: 10px 0px 0px 0px">{{deathMessage}}</p>
    <hr>
</div>

<div id="app2">
    <p><b>Инстанс 2: Управление стилями</b></p>
    <p>Изменяйте стиль шарика, для сброса стиля кликните по шарику</p>
    <table border="0">
        <tr>
            <td>
                <div class="circle"
                     :style="circleStyle"
                     @@click="{color = 'white', circleSize = 100}">
                </div>
            </td>
            <td>
                <div style="margin: 0px 0px 20px 40px">
                    <p>Выберите размер<br /></p>
                    <button @@click="add">Увеличить</button>
                    <button @@click="sub">Уменьшить</button>
                </div>
                <div style="margin: 0px 0px 20px 40px">
                    <p>Выберите цвет<br /></p>
                    <select class="table input" v-model="color" width="150px">
                        <option value="white">Белый</option>
                        <option value="red">Красный</option>
                        <option value="orange">Оранжевый</option>
                        <option value="yellow">Желтый</option>
                        <option value="green">Зеленый</option>
                        <option value="aqua">Голубой</option>
                        <option value="blue">Синий</option>
                        <option value="purple">Фиолетовый</option>
                        <option value="black">Черный</option>
                    </select>
                </div>
            </td>
        </tr>
    </table>
    <p>Описание:</p>
    <template v-if="color == 'white'">
        <p><i>Сейчас шарик белый.</i></p>
    </template>
    <template v-else-if="color == 'red'">
        <p><i>А теперь - красный.</i></p>
    </template>
    <template v-else-if="color == 'orange'">
        <p><i>Уже оранжевый.</i></p>
    </template>
    <template v-else-if="color == 'yellow'">
        <p><i>Шарик стал желтым.</i></p>
    </template>
    <template v-else-if="color == 'green'">
        <p><i>Шарик позеленел!</i></p>
    </template>
    <template v-else-if="color == 'aqua'">
        <p><i>Голубой шарик.</i></p>
    </template>
    <template v-else-if="color == 'blue'">
        <p><i>Шарик стал синим.</i></p>
    </template>
    <template v-else-if="color == 'purple'">
        <p><i>Теперь фиолетовый.</i></p>
    </template>
    <template v-else="color == 'black'">
        <p><i>Black circle matters!</i></p>
    </template>
    <p style="color: maroon; margin: 10px 0px 0px 0px">{{deathMessage}}</p>
    <hr>
</div>

<div id="app3">
    <p><b>Инстанс 3: Уничтожение инстансов</b></p>
    <button @@click="destroyApp1">Уничтожить инстанс 1</button>
    <button @@click="destroyApp2">Уничтожить инстанс 2</button>
</div>

    @* Подключаем Vue.js *@
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>

    @* Описание инстансов *@
    <script>

        var vue1 = new Vue({
            el: '#app1',
            data: {
                inputValue: '',
                deathMessage: ''
            }
        })

        var vue2 = new Vue({
            el: '#app2',
            data: {
                circleSize: 100,
                color: 'white',
                deathMessage: ''
            },
            computed: {
                circleStyle: function () {
                    return {
                        'background': this.color,
                        'width': this.circleSize + 'px',
                        'height': this.circleSize + 'px'
                    }
                }
            },
            methods: {
                add: function () {
                    this.circleSize += 10
                    this.circleSize = this.circleSize >= 200 ? 200 : this.circleSize
                },
                sub: function () {
                    this.circleSize -= 10
                    this.circleSize = this.circleSize <= 0 ? 0 : this.circleSize
                }
            }
        })

        new Vue({
            el: '#app3',
            methods: {
                destroyApp1: function () {
                    vue1.deathMessage = 'Уничтожено! Это приложение больше не работает.'
                    setTimeout(() => { vue1.$destroy(); }, 100)
                },
                destroyApp2: function () {
                    vue2.deathMessage = 'Уничтожено! Это приложение больше не работает.'
                    setTimeout(() => { vue2.$destroy(); }, 100)
                }
            }
        })
    </script>



