@{
    ViewData["Title"] = "О программе";
}
<h4>@ViewData["Title"]</h4>
<p><br /></p>
<p>Механика работы приложения.</p>
<p>1. Приложение имеет 3-уровневую архитектуру MVC.</p>
<p>2. При запуске приложение подключается к боевой БД MS SQL на сервере <a href="http://somee.com/">somee.com</a>.</p>
<p>3. Боевое приложение опубликовано по адресу <a href="http://www.notebook.somee.com/">notebook.somee.com</a>.</p>
<p>4. При первом запуске приложения пустая таблица БД Records наполняется данными из класса Models.SeedData.</p>
<p>5. При повторном запуске производится проверка таблиц и при наличии в них записей п.4 не отрабатывает.</p>
<p>6. Каталог Models содержит модели данных, Domain - контекст БД, Migrations - все миграции, остальные каталоги в рамках MVC.</p>
<p>7. Приложение позволяет осуществлять необходимые действия с контактами (создание/просмотр/редактирование/удаление).</p>
<p>8. Реализована валидация полей "Телефон" и "Email" на корректность ввода.</p>
<p>9. Реализована фильтрация записей по части имени контакта, а также по компании.</p>
<p>10. Для демонстрации Vue.js создана отдельная страница.</p>
<p><br /></p>
<p>Дополнительная информация.</p>
<p>1. Приложение разработано в Visual Studio Enterprise 2019.</p>
<p>2. Веб-фреймворк ASP.NET Core v3.1.8.</p>
<p>3. Схема разделения данных MVC v6.0.1.</p>
<p>4. Контроль выполнения запросов к БД Entity Framework Profiler v5.0.5048.</p>
<p>5. Фронтенд jQuery JavaScript Library v3.5.1</p>
<p>6. Бэкенд С# 7.3.</p>
<p>7. Валидация данных jQuery Validation Plugin v1.17.0.</p>
<p>8. На отдельной странице представлена работа с фреймворком Vue.js v2.6.11.</p>
<p><br /></p>
<p>Исходный код.</p>
<p>1. Размещен на GitHub: <a href="https://github.com/1radiocat/WebNotebook"><b>перейти в репозиторий</b></a>.</p>
<p>2. Размещен на моем хостинге: <a href="http://task.badcat.su/downloads/WebNotebook.zip"><b>скачать zip-архив</b></a>.</p>