@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Записная книжка</h1>
    <br />
    <p><button onclick="window.location.href = '/Records';" class="btn btn-primary">Перейти к управлению контактами</button></p>
    <br />
    <p><button onclick="window.location.href = '/VueJS';" class="btn btn-primary">Перейти к странице демонстрации Vue.js</button></p>
</div>
