@using System.Data

@{
    ViewData["Title"] = "Управление контактами Vue.js";
}
<h4>@ViewData["Title"]</h4>

<style>
    .circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid black;
        display: inline-block;
        margin: 10px;
    }
</style>
<hr>
<div id="app1">
    <p><b>Инстанс 1: Динамический вывод данных</b></p>
    Введите текст: <input type="text" v-model="inputValue" /><br />
    <p style="margin: 20px 0px 20px 0px">Динамический вывод: <b>{{inputValue}}</b></p>
    <p style="color: maroon; margin: 10px 0px 0px 0px">{{deathMessage}}</p>
    <hr>
</div>


    @* Подключаем Vue.js *@
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>

    @* Описание инстансов *@
    <script>

        var vue1 = new Vue({
            el: '#app1',
            data: {
                inputValue: '',
                deathMessage: ''
            }
        })

        var vue2 = new Vue({
            el: '#app2',
            data: {
                circleSize: 100,
                color: 'white',
                deathMessage: ''
            },
            computed: {
                circleStyle: function () {
                    return {
                        'background': this.color,
                        'width': this.circleSize + 'px',
                        'height': this.circleSize + 'px'
                    }
                }
            },
            methods: {
                add: function () {
                    this.circleSize += 10
                    this.circleSize = this.circleSize >= 200 ? 200 : this.circleSize
                },
                sub: function () {
                    this.circleSize -= 10
                    this.circleSize = this.circleSize <= 0 ? 0 : this.circleSize
                }
            }
        })

        new Vue({
            el: '#app3',
            methods: {
                destroyApp1: function () {
                    vue1.deathMessage = 'Уничтожено! Это приложение больше не работает.'
                    setTimeout(() => { vue1.$destroy(); }, 100)
                },
                destroyApp2: function () {
                    vue2.deathMessage = 'Уничтожено! Это приложение больше не работает.'
                    setTimeout(() => { vue2.$destroy(); }, 100)
                }
            }
        })
    </script>



